{% extends "base.html" %}

{% load static %}

{% block body %}

{% include 'aliments_off/base_product_title_img.html' %}

  <!-- Product Details -->
  <section id="product-detail">
    <div class="container">
      <div class="row align-items-center justify-content-center py-3 mx-1">
        <div class="col-12 col-lg-6 text-center">
          <img src="{% static 'img/codenutri/nutriscore-'|add:products.nutritional_score|add:'.svg' %}" alt="">
        </div>
        <div class="col-12 col-lg-6">
          <h3>Repères nutritionnels pour 100 g</h3>
          <ul class="nutrient-levels">
            <li class="{{ products.fat }}">{{ products.fat_100g }} g Matières grasses / Lipides</li>
            <li class="{{ products.saturated_fat }}">{{ products.saturated_fat_100g }} g Acides gras saturés</li>
            <li class="{{ products.sugars }}">{{ products.sugars_100g }} g Sucres</li>
            <li class="{{ products.salt }}">{{ products.salt_100g }} g Sel</li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a href="{{products.url}}" target="_blank">
            <button type="button" class="btn btn-lg btn-outline-secondary">Voir la fiche Openfoodfacts</button>
          </a>
        </div>
        <div class="col-12 text-center">
          <button onclick="window.history.back();" type="button" class="btn btn-lg btn-outline-secondary mt-0">Retour</button>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}