{% extends "base.html" %}

{% load static %}

{% block body %}

{% include 'base_title_section.html' %}
  
  <!-- My Product Result Section -->
  <section id="product-result">
    <div class="container">
        {% if not object_list %}
        <div class="row align-items-center justify-content-center"></div>
          <div class="alert alert-warning">Il n'y a pas de produits enregistrés</div>
        </div>
        {% endif %}
      <div class="row align-items-center justify-content-center">
        {% for sl in object_list %}
          <div class="col-4 mx-1 px-0">
            <div class="product-thumb-my_product">
              <div class="nutriscore nutriscore-{{sl.id_product.nutritional_score|upper}} text-center"></div>
              <a href="{% url 'aliments_off:detail' sl.id_product.id %}">
                <img src="{{sl.id_product.img_url}}" class="rounded mx-auto d-block" alt="">
              </a>
              <div class="product-thumb-legend">
                <p class="text-center">{{sl.id_product|title}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        {% if is_paginated %}
        <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="pagination text-center">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">Précédente</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
                  {% endif %}
              </span>
          </div>
        </div>
        {% endif %}
    </div>
    </div>
    </section>

{% endblock body %}